In [21]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### Markdown notebook

https://www.jianshu.com/p/8c1b2b39deb0

In [1]:
import tensorflow
import numpy
import pandas
import matplotlib
import sklearn
print ("Import OK!")

Import OK!

In [2]:
import sklearn

In [3]:
#!usr/bin/python
#encoding = utf-8
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline

In [80]:
name = input("Please input your name:")
age = input("Please input your age:")

print("You are {}, and your age is {}!".format(name,age))
print("You are {1}, and your age is {0}!".format(age,name))
print("You are {name}, and your age is {age}!")
print(f"You are {name}, and your age is {age}!")

Please input your name:Apple
Please input your age:2
You are Apple, and your age is 2!
You are Apple, and your age is 2!
You are {name}, and your age is {age}!
You are Apple, and your age is 2!

In [13]:
print('n= ',123)
print('f= ',456,789)
print('mm='      'sdsdsdsd')
print('s1=','\'Hello,world\'')
print('s2=\'Hello,\\\'Adam\\\'\'')
print('s3=r\'Hello,"Bart"\'')
print('s4=r\'\'\'Hello,\nLisa!\'\'\'')
print("'Wowoo!!!"*2)
print("'Wowoo!!!"+"2")

n=  123
f=  456 789
mm=sdsdsdsd
s1= 'Hello,world'
s2='Hello,\'Adam\''
s3=r'Hello,"Bart"'
s4=r'''Hello,
Lisa!'''
'Wowoo!!!'Wowoo!!!
'Wowoo!!!2

In [15]:
lis = []
tupl = ()
tup = (1,)
dic = {1:'a',2:'b'}
for k,v in dic.items():
    print(k,":",v)

1 : a
2 : b

In [14]:
score = (68,87,92,100,76,88,54,89,76,61)
print(score[2])
print(score[0:6])

92
(68, 87, 92, 100, 76, 88)

In [8]:
bin2 = int(0b111)
oct2 = int(0o111)
hex2 = int(0x111)
print(bin2,oct2,hex2)
B2 = bin(111)
O2 = oct(111)
X2 = hex(111)
print(B2,O2,X2)

7 73 273
0b1101111 0o157 0x6f

### Data Type
#### Integer (int)
#### Float (float)
#### Boolean (bool)
#### String (str)

### Maths
"+ - * / ** %(...n) //(n...) "

### Conditions

In [13]:
#string  + --> combine      * --> duplicate
print("combine."+"cc")
print("duplicate!"*2)

combine.cc
duplicate!duplicate!

In [19]:
#extract & slice [start:end:step]
letters = "abcdefghijklmnopqrstuvwxyz"
print(letters)
print(letters[3])
print(letters[3:])
print(letters[:3])
print(letters[3::3])
print(letters[-3])
print(letters[:-3])
print(letters[-3:])

abcdefghijklmnopqrstuvwxyz
d
defghijklmnopqrstuvwxyz
abc
dgjmpsvy
x
abcdefghijklmnopqrstuvw
xyz

In [25]:
#split --> .split()
string = "a b c d     % e"
string.split()

['a', 'b', 'c', 'd', '%', 'e']

In [26]:
#combine --> .join()
lis = "a b c d  % e"
elements = lis.split()
"-".join(elements)

'a-b-c-d-%-e'

In [27]:
#substitue --> .replace()
string = "There is a word!"
string.replace("is a word","are words")

'There are words!'

In [34]:
#layout --> .center() // .rjust() //  .hjust()
align = "learn how to align"
print(align.center(50))
print(align.rjust(50))
print(align.ljust(50))
print(align.center(100))
print(align.rjust(100))
print(align.ljust(100))
ralign = align.rjust(66)
print(ralign)
print(ralign.strip())

                learn how to align
                                learn how to align
learn how to align
                                         learn how to align
                                                                                  learn how to align
learn how to align
                                                learn how to align
learn how to align

In [47]:
#other useful tools
py_descriptions = "Python: Python is a programming language that lets you work quickly and integrate systems more effectively!"
py_descriptions.startswith("p")

False

In [48]:
py_descriptions.endswith("!")

True

In [49]:
py_descriptions.find("i")

15

In [50]:
py_descriptions.isalnum()  #.isalpha() // .isdecimal() // .isdigit() // .isdentifier() // .islower() // .isupper() // .isnumeric()...

False

In [51]:
py_descriptions.count("t")

9

In [55]:
py_descriptions.strip("!")

'Python: Python is a programming language that lets you work quickly and integrate systems more effectively'

In [53]:
py_descriptions.upper()

'PYTHON: PYTHON IS A PROGRAMMING LANGUAGE THAT LETS YOU WORK QUICKLY AND INTEGRATE SYSTEMS MORE EFFECTIVELY!'

In [54]:
py_descriptions.title()

'Python: Python Is A Programming Language That Lets You Work Quickly And Integrate Systems More Effectively!'

### Input : input() & Output : print()

In [57]:
input_something = input("Please input something!\n")
input_another_things = input("Please input other things!\n")
print("The first time input is '%s', the second time input is '%s'!"%(input_something,input_another_things))
print("The first time input is {}, the second time input is {}!".format(input_something,input_another_things))

Please input something!
Apple
Please input other things!
Banana
The first time input is 'Apple', the second time input is 'Banana'!
The first time input is Apple, the second time input is Banana!

In [61]:
seconds_per_hour = 60 * 60
seconds_per_day = seconds_per_hour * 24
seconds_per_month28 = seconds_per_day * 28
seconds_per_month29 = seconds_per_day * 29
seconds_per_month30 = seconds_per_day * 30
seconds_per_month31 = seconds_per_day * 31
seconds_per_year365 = seconds_per_day * 365
seconds_per_year366 = seconds_per_day * 366

print("Seconds in a day: ",seconds_per_day)
print("Seconds in a month (28 days): ",seconds_per_month28)
print("Seconds in a month (29 days): ",seconds_per_month29)
print("Seconds in a month (30 days): ",seconds_per_month30)
print("Seconds in a month (31 days): ",seconds_per_month31)
print("Seconds in a year (365 days): ",seconds_per_year365)
print("Seconds in a year (366 days): ",seconds_per_year366)

Seconds in a day:  86400
Seconds in a month (28 days):  2419200
Seconds in a month (29 days):  2505600
Seconds in a month (30 days):  2592000
Seconds in a month (31 days):  2678400
Seconds in a year (365 days):  31536000
Seconds in a year (366 days):  31622400

In [65]:
from datetime import datetime
now = datetime.now()
print(now)
print(type(now))
time2str = now.strftime("%Y-%m-%d")
print(time2str)

2019-03-10 18:16:15.147001
<class 'datetime.datetime'>
2019-03-10

In [71]:
str_time = "2019-03-10"
str2time = datetime.strptime(str_time,"%Y-%m-%d")
print(str2time)
print(type(str2time))
print(str2time.year)
print(str2time.month)
print(str2time.day)

2019-03-10 00:00:00
<class 'datetime.datetime'>
2019
3
10

In [73]:
def main ():
    """
    This is main function!
    """
    pass

if __name__ == "__main__":
    main()

In [75]:
#  x mintes = y hour z minute
#255 minutes before 0 o'clock is:
hour = 24 - (255 // 60)
minute = 255 % 60
print("255 minutes before 0 o'clock is {}:{}".format(hour,minute))

255 minutes before 0 o'clock is 20:15

b * (1+r/100)^n

In [ ]:
b*(1+r/100)**n

sqrt((a\*a+b\*b)/b)

In [78]:
import math
a = 3
b = 4
c = 5
math.sqrt((a**2+b**2)/c**2)

1.0

In [81]:
int2str = str(100)
print(int2str)
len(int2str)

100

3

In [4]:
 def main():
        a = 3
        b = "repeat!"
        print(b*a)

if __name__ == "__main__":
    main()

repeat!repeat!repeat!

In [5]:
a = 3
b = "repeat!"
a
b

3

'repeat!'

#### List

|list.append("element")|
|"element" in list|

In [15]:
#list delete  && expand
lst = ["element","element1","element2"]
del lst[-1]
lst
lst.remove("element")
lst
lst.append("element3")
lst
lst = lst + ["element4"]
lst
"element" in lst
"element" not in lst
lst.insert(1,"element")
lst
lst.index("element3")
lst.pop()
lst.pop(2)
lst

['element', 'element1']

['element1']

['element1', 'element3']

['element1', 'element3', 'element4']

False

True

['element1', 'element', 'element3', 'element4']

2

'element4'

'element3'

['element1', 'element']

In [28]:
from time import clock
def timer(f):
    def _f(*args):
        t0 = clock()
        f(*args)
        return clock() - t0
    return _f

In [31]:
def delete_element(list,index):
    del list[index]

listx = ["A"]*10000000
timer(delete_element)(listx,0)
timer(delete_element)(listx,-1)

0.007074436312080934

1.5421674959270604e-06

In [11]:
#Sort   list.sort()  vs sorted(lsit)
lst = [2,1,5,3,4]
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [10]:
#Sort   list.sort()  vs sorted(lsit)
lst = [2,1,5,3,4]
new_lst = sorted(lst)
print(lst)
print(new_lst)

[2, 1, 5, 3, 4]
[1, 2, 3, 4, 5]

In [14]:
lst = sorted("String123698745")
print(lst)
type(lst)

['1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'g', 'i', 'n', 'r', 't']

list

In [15]:
string = "".join(sorted("String123698745"))
print(string)
type(string)

123456789Sginrt

str

In [24]:
#assign vs copy
a = [1,2,3,4,5]
b = a #assign
a[1] =55
a
b

[1, 55, 3, 4, 5]

[1, 55, 3, 4, 5]

In [30]:
#assign vs copy
a = [1,2,3,4,5]
b =  a.copy()
c = a[:]
d = list(a)
a[1] =55
a
b
c
d

[1, 55, 3, 4, 5]

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [33]:
#dictionary  == %hash  {key:value,...}
#set  == {key,key,...}   #immutable;can not be indexed
empty_dict_define = {}
empty_set_define = set()
even_set = {5,2,3,4,5,6,1}
even_set
for i in even_set:
    print(i)

{1, 2, 3, 4, 5, 6}

1
2
3
4
5
6

In [ ]:
# bool
and (&) or (|) not (!)  ^(亦或: 0^1 = 1^0 = 1 ; 0^0 = 1^1 = 0)

In [35]:
num_set = {2,3,5,7,9}
even_set = {5,7,8,9,10}
num_set & even_set   #都有的
num_set | even_set   #只要之中有的
num_set - even_set   #后一个中没有的
# num_set + even_set    #TypeError: unsupported operand type(s) for +: 'set' and 'set'
num_set ^ even_set   #不共有的

{5, 7, 9}

{2, 3, 5, 7, 8, 9, 10}

{2, 3}

{2, 3, 8, 10}

In [44]:
uu = {"a","b","b"}
uuu = {"1","a","b","c"}
uu & uuu    # <==>  uu and uuu
uu | uuu    # <==> uu or uuu
uu - uuu
uu ^ uuu
uu not in uuu

{'a', 'b'}

{'1', 'a', 'b', 'c'}

set()

{'1', 'c'}

True

### Convert into List | Tuple

In [50]:
list("asdfg")
list(("asdfg","asdfgh"))
list({"asdfg"})
list({5:"asdfg",2:"asdfgh"})            # dict2list just keep the key!!! Can not be ordered, but can use "sorted()" function
list({5:"asdfg",2:"asdfgh"}.values())   # dict2list to keep the value, need to add ".values()"!!!
tuple("asdfg")
tuple(("asdfg","asdfgh"))
tuple({"asdfg"})
tuple({5:"asdfg",2:"asdfgh"})            # dict2tuple just keep the key!!! Can not be ordered, but can use "sorted()" function
tuple({5:"asdfg",2:"asdfgh"}.values())   # dict2tuple to keep the value, need to add ".values()"!!!

['a', 's', 'd', 'f', 'g']

['asdfg', 'asdfgh']

['asdfg']

[5, 2]

['asdfg', 'asdfgh']

('a', 's', 'd', 'f', 'g')

('asdfg', 'asdfgh')

('asdfg',)

(5, 2)

('asdfg', 'asdfgh')

### Convert into Dictionary

In [53]:
dict("a","b","c")        #TypeError: dict expected at most 1 arguments, got 3
dict(("a","b","c"))      #ValueError: dictionary update sequence element #0 has length 1; 2 is required
dict(["a","b","c"])      #ValueError: dictionary update sequence element #0 has length 1; 2 is required
dict(["abc","bc","cd"])  #ValueError: dictionary update sequence element #0 has length 3; 2 is required

TypeError: dict expected at most 1 arguments, got 2

In [67]:
dict(("ab","bc","cd"))
dict(["ab","bc","cd"])
dict({"ab","bc","cd"})
dict((["ab","ba"],"bc","cd"))
dict((["ab","ba"],(1,2),"bc","cd"))

{'a': 'b', 'b': 'c', 'c': 'd'}

{'a': 'b', 'b': 'c', 'c': 'd'}

{'b': 'c', 'c': 'd', 'a': 'b'}

{'ab': 'ba', 'b': 'c', 'c': 'd'}

{'ab': 'ba', 1: 2, 'b': 'c', 'c': 'd'}

In [78]:
s1 = "abcdefg"
s2 = "hijklmn"
zip(s1,s2)
list(zip(s1,s2))
dict(list(zip(s1,s2)))

[('a', 'h'),
 ('b', 'i'),
 ('c', 'j'),
 ('d', 'k'),
 ('e', 'l'),
 ('f', 'm'),
 ('g', 'n')]

{'a': 'h', 'b': 'i', 'c': 'j', 'd': 'k', 'e': 'l', 'f': 'm', 'g': 'n'}

In [83]:
s1 = "abcdefg"
s2 = "hijklmn"
s34 = list(zip(s1,s2))
s34
s3,s4 = zip(*s34)    #unzip: * is a splat operator, it is used to unpack argument list; foo(*[1,2,3]) == foo(1,2,3)
s3
type(s3)
s4

[('a', 'h'),
 ('b', 'i'),
 ('c', 'j'),
 ('d', 'k'),
 ('e', 'l'),
 ('f', 'm'),
 ('g', 'n')]

('a', 'b', 'c', 'd', 'e', 'f', 'g')

tuple

('h', 'i', 'j', 'k', 'l', 'm', 'n')

In [85]:
type(zip(s1,s2))

zip

### Mutable & Immutable
#### Immutalbe
- bool : Boolean value
- int : integer (arbitrary magnitude)
- float : floating point number
- tuple : immutable sequence of objects
- str : character string
- frozenset : immutable form of set class
- dict : associative mapping (aka dictionary)

#### Mutalbe  (Could not be dict-key)
- list : mutable sequence of objects
- set : unorder set of distinct objects

> 1.   这是第一行列表项。
> 2.   这是第二行列表项。
>
> 给出一些例子代码：
> 
>     return shell_exec("echo $input | $markdown_script");

In [93]:
#Separate numbers
#generater --> list
num_list = range(10)
num_list
list_accept_range = [x for x in range(10)]
list_accept_range
odd = [x for x in num_list if x % 2 == 1]
odd
sqrt = [x**x for x in num_list]
sqrt

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 3, 5, 7, 9]

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

In [102]:
import math
#2*2,,5*5,8*8,11*11,...
num3_2 = [x*x for x in range(int(math.sqrt(1000))) if x % 3 == 2]
num3_2
num_power2 = [2**x for x in range(21)]
num_power2

[4, 25, 64, 121, 196, 289, 400, 529, 676, 841]

[1,
 2,
 4,
 8,
 16,
 32,
 64,
 128,
 256,
 512,
 1024,
 2048,
 4096,
 8192,
 16384,
 32768,
 65536,
 131072,
 262144,
 524288,
 1048576]

In [87]:
#Nested
rows = range(1,4)
cols = range(1,3)
cells = []
for row in rows:
    for col in cols:
        cells.append((row,col))
        
cells

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

In [103]:
#Above loop can be written in one line
cells_list = [(row,col) for row in range(1,4) for col in range(1,3)]
cells_list

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

In [108]:
#Better performance

container = ["a","b","c","d",1,2,5]
string_buid = ""
for i in container:
    string_buid += str(i)
string_buid

#also

builder_list = []
for i in container:
    builder_list.append(str(i))
builder_list
"".join(builder_list)

#equal to :

"".join([str(string) for string in container])

"".join(map(str,container))

'abcd125'

['a', 'b', 'c', 'd', '1', '2', '5']

'abcd125'

'abcd125'

'abcd125'